.showtrang{
    position: relative;
    height: 650px;
    width: 100%;
    top: -90px;
    background-color: rgba(240, 248, 255, 0.555);
}
.showtrang h3{
    position: relative;
    left: 40%;
    top: 15%;
}
.loading{
    left: 40%;
    top: 15%;
}
.menu a{
    color: black;
}
/* .tab-loaisach{
    height: 0px;
} */

.list1{
    position: static;
    float: left;
}
.menu{
    position: absolute;
    top: 39px;
    left: 100px;
    background-color: #77777748;
    height: auto;
    width: auto;
}
.menu div{
    display: inline-block;
}
.menu div li{
    position: relative;
    top: 2px;
    left: -0px;
    padding: 10px;
}
.menu div li a {
    position: relative;
    float: left;
    z-index: 100;
    margin-left: 15px;
    margin-right: 15px;
    display: block;
    padding: 10px;
 }
 .menu div a:hover{
    background-color: white;
 }
 .list-bar{
     z-index: 1;
 }
 .nav .list-nav .search input {
    width: 80%;
    height: 50.67px;
 }
 .nav .list-nav .search h1{
    
 }