@media only screen and (max-width : 400px ){
    body{
        margin-left: 0px;
        margin-right: 0px;
        .nav{
            .logo{
                width: 30%;
                h1{
                    width: 70%;
                }
            }
            .list-nav{
                width: 62.5%;
                z-index: 1;
                .list-bar{
                    width: 100%;
                    ul{
                        float: right;
                        width: 100%;
                    }
                    li{
                       width: 100%;
                       a{
                           float: right;
                           text-align: right;
                       }
                    }
                }  
            }
            .show-btn{
                float: right;
                display: inline;
                width: 31px;
                height: 21px;
                z-index: 99;
            }
        }
    }
}