.container__mycontact {
    padding: 15px;
    display: flex;
    color: black;
    justify-content: center;
    transform: translate(20%, 0%);
    flex-direction: column;
    font-size: larger;
    height: 100vh;
    border-top: 2px solid rgba(245, 245, 220, 0.63);
  }
  