.container__mycontact {
    padding: 15px;
    display: flex;
    color: black;
    justify-content: center;
    transform: translate(20%, 0%);
    flex-direction: column;
    font-size: larger;
    // height: 100vh;
    border-top: 2px solid rgba(245, 245, 220, 0.63);
    .f-w{
      font-weight: 500 !important;
    }
    .point{
      width: 50%;
      height: auto;
      background-color: #ddd;
      p{
        // font-size: medium;
        text-align: right;
      }
      div{
        // padding-top: 10px; /* Add top padding */
        // padding-bottom: 10px; /* Add bottom padding */
        background-color: #808080;
        // height: auto;
      }
      .rate_10{
        width: 100%;
        
      }
      .rate_9{
        width: 90%;
      }
      .rate_8{
        width: 80%;
      }
      .rate_7{
        width: 70%;
      }
      .rate_6{
        width: 60%;
      }
      .rate_5{
        width: 50%;
      }
      .rate_4{
        width: 40%;
      }
      .rate_3{
        width: 30%;
      }
      .rate_2{
        width: 20%;
      }
      .rate_1{
        width: 10%;
      }
    }
  }

  