*{
    font-size: large;
}
body{
    
}
li{
    list-style: none !important;
}
.nav-header{
    display: flex;
}


/* background index */
.header{
    width: 100%;
    position: fixed;
    z-index: 999;
}
.background {
    height: 500px;
    background-image: url('../image/background/background_the_city.jpg');
    background-size: cover;
    background-position: bottom;
    opacity: 0.3;

}
.header .nav{
    border-bottom: rgba(213, 204, 204, 0.458) 0.5px solid;
    transition: scroll 2s;
}
.header .nav .nav-content{
    width: 100%;
    display: inline-flex;
    margin-left: 10%;
    margin-right: 10%;
}
.header .nav-content li a{
    font-size: 18px;
    margin: 5px;
    padding: 14px;
}
.startup{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: -200px;
    margin-bottom: 100px;
}
.startup button{
    width: max-content;
}
.content{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}
.content .card{
    display: inline-flex;
}
.content .card h3{
    text-align: center;
}
.content .mypic{
    background-color: aquamarine;
    width: 30%;
    height: 50vh;
}
.content p{
    margin: 0 5% 0 5%;
}
.content .more-about{
    margin : 1% 5% 5% 5%;
    display: flex;
    flex-direction: row;
}
.content .content-card{
    display: flex;
    width: 100%;
}
.content .content-card ul{
    margin: 2%;
    width: 100%;
}
.content .content-card ul li{
    list-style: circle !important;
    margin: 5%;
}