*{
    .Nav_Nomal{
        display: flex;
        justify-content: center;
        flex-direction: row;
        li{
            padding: 10px;
            font-size: large;
            a{
                font-weight: 600;
            }
        }
    }
}