.flex-left {
    .tab-left {
        min-height: 100vh;
        height: max-content;
    }
    .main-flex{
        // thiết lập nếu nội dung height hơn 100vh thì rollbar sẽ xuất hiện
        height: 100vh;
        overflow-y: auto;
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }
}

/* MarkdownStyles.scss */

.markdown-body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ffffff85;
    background-color: #12121446;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h1,
    h2,
    h3 {
        border-bottom: 1px solid #ffffffba !important;
        padding-bottom: 0.3em;
        margin-bottom: 0.5em;
    }

    pre {
        background: #282c34;
        color: #ffffffae;
        padding: 10px;
        border-radius: 5px;
        overflow-x: auto;
    }

    code {
        background: #f4f4f417;
        padding: 2px 4px;
        border-radius: 4px;
        font-size: 90%;
    }

    a {
        color: #0366d6;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}