.container__myabout {
  padding: 15px;
  display: flex;
  color: black;
  justify-content: center;
  transform: translate(20%, 0%);
  flex-direction: column;
  font-size: larger;
  height: 70vh;
  .content__myabout {
    // set deffault fgont my about
    .name {
      font-weight: 400;
      font-size: 30px;
    }
    p {
      font-weight: 100;
    }
    .my__piture {
      display: flex;
      flex-direction: row;
      img {
        background-color: wheat;
        width: 200px;
        height: 300px;
      }
      .content__mypicture {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
      }
      .link__myabout {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        .line__ {
          display: flex;
          flex-direction: row;
          div {
            margin-left: 10px;
          }
        }
        .social__mypicture {
          display: flex;
          flex-direction: row;
          a {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
