*{
    --maubutton: #0074cc;
    .mainbg{
        // display: flex;
        // justify-content: center;
        
        
        .mainlogin{
            margin: 0 auto;
            width: 400px;
            height: 350px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background-color: #f1f2f3;
            padding: 15px;
            border-radius: 8px;
            box-shadow: 0.5px 0 rgba(141, 136, 136, 0.675) inset;
            // color: white;
            .content{
                h2{
                    font-weight: 600;
                }
            }
            .input{
                width: 100%;
                input{
                    font-size: 15px;
                    padding: 8px;
                    margin: 5px;
                    width: 100%;
                }
                input[type=text],input[type=password]{
                    border-radius: 5px;
                    border: 0px solid white;
                }
                input[type=text]:focus,input[type=password]:focus{
                  outline: none;
                }
                input[type=button]{
                    background-color: var(--maubutton);
                    border-radius: 2px;
                    border: none;
                    color: white;
                    cursor: pointer;
                }
                input[type=button]:active{
                    background-color: #0074cc87;
                }

            }
        }
    }
}