.tab-left {
 min-height: 100vh;
//   background-color: #00000057;
  padding: 20px;
  .element{
    min-width: 200px;
    .tab-element{
      padding: 10px;
      margin: 5px;
      border-radius: 5px;
      background-color: #00000057;
      display: flex;
      cursor: pointer;
      &:hover{
        background-color: #00000087;
      }
    }
  }
  .link-tab-left{
    padding: 19px;
    text-decoration: none;
    display: flex;
    // color: white;
    .link{
      font-size: larger;
    }
  }
}